.container nav{
    border: 1px solid black;
    height: 50px;
    width: 100%;
    position: relative;  
    display: flex;
    justify-content: center;
    background-color: #a68e34; 
}

.container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.container li > a {
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
}
