.groupContainer {
  border: none;
  width: 200px;
  height: 250px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.groupHeader {
  text-align: center;
  cursor: pointer;
}

.groupTeams {
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

